<div class="container">
  <h2 class="mt-5 text-secondary ">Edit product: <span class="text-dark">{{ product.title }}</span></h2>
  <form action="/edit-product/{{product._id}}" method="post">
    <div class="mb-3">
      <label for="image" class="form-label">Choose Image</label>
      <input
        type="text"
        name="imageUrl"
        class="form-control"
        id="image"
        value="{{product.imageUrl}}"
        required
      />
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="{{ product.title }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        required
      >{{ product.description }}</textarea>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="{{ product.price }}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Edit product</button>
  </form>
</div>
