<h3 class="border-bottom">My Courses: {{products.length}}</h3>
{{!-- {{userId}} --}}
<div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    {{#if products.length}}

      {{#each products}}
        <!-- Card 1 -->
        <div class="col">
          <div class="card h-100">
            <img src="{{imageUrl}}" class="card-img-top" alt="..." />
            <div class="card-body position-relative">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text h-25 overflow-y-scroll scroll-hidden">{{description}}</p>
              <div class="d-flex justify-content-between">
                <p class="card-text fw-bold fs-4">${{price}}.00</p>
                <p class="card-text fw-bold fs-4 text-muted">{{ formData createdAt }}</p>
              </div>
              {{#if @root.token}}
              <h5 class="mt-3 d-flex gap-2 align-items-sm-center "><div class="avatar">{{ getFullNameUser user.firstname user.lastname }}</div>: <div>{{user.firstname}} {{user.lastname}}</div> </h5>
              {{else}}
              <h5 class="mt-3"><div class="avatar">{{ getFullNameUser user.firstname user.lastname }}</div>: Guest</h5>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h4 class="text-muted">No products yet :(</h4>
    {{/if}}

    <!-- Repeat for other cards... -->
  </div>
</div>